/* @override http://localhost:5984/fortytwo/_design/fortytwo/style/main.css */

body {
	background-color: white;
	font-family:monospace;
	padding-bottom: 5em;
}
button {
	cursor: pointer;
}
.link {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}
a.link :visited {
	color: blue;
}
.docs-menu {
	float: right;
	padding-right: 0.25em;
	color: gray;
}
.docs-menu a {
	color: white;
}
.forty-two-logo {
	left: 8px;
	top: 0.75em;
	position:relative;
	float:right;
}
.forty-two-logo div {
	font-size: 400%;
	color: white;
	font-family: monospace;
	font-weight: bold;
	color:white;
}
.app-main {
	width: 60em;
	margin-left: auto;
	margin-right: auto;
}    	
.app-tools {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 0.25em;
	background-color: #00B7EB;
	margin-bottom: 2em;
	margin-top: 1em;
}
.app-tools .link {
	color: white;
}    	
.app-tools-search {
	font-size: x-big;
	border-style: solid none none solid;
	border-width: 1px medium medium 1px;
	border-color: #CCCCCC;
	margin-left: auto;
	margin-right: auto;
	padding: 0.25em;
}    	
.app-body {
	background-color: white;
}    	
.question-list {
	padding-top: 1em;
}
.question-headline {
	background-color: white;
	margin: 1em;    		
	padding-bottom: 0.5em;
	border-bottom: 1px dotted gray;
}
.question-headline h3 {
	
	display: block;
	padding-left: 1em;
	margin-bottom: 0.5em;
	font-size:123.1%;
	font-weight: bold;
	font-family:verdana;
	color:	black;
	text-decoration: underline;
}    	
.counter {
	background-color: #e3f4fd;
	float:left;
	text-align: center;
	padding: 0.5em;
	color: black;
	margin-right: 0.75em;
	height:100%;
}
.vote-up, .vote-down {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.question-headline .question-asked {
	color: #333;
	clear:both;
	padding-top: 0.5em;
}    	
.ask-question-form {
	font-size: 120%;
	width: 46em;
	margin-left: auto;
	margin-right: auto;
}
.ask-question-form input,
.ask-question-form textarea {
	padding: 0.25em;
	width: 30em;
	
}
.ask-question-form textarea {
	margin-top:  1em;
	margin-bottom: 1em;
	margin-left: 6em;
	height: 8em;
}
.ask-question-form label {
	width: 6em;
	line-height: 1.5em;
	display: block;
	float: left;
}
.format-help {
	color: gray;
	font-size: 80%;
	text-align: center;
	padding-top: 0.25em;
	padding-bottom: 2em;
}
.answer-form .format-help {
	width: 50em;
}
.ask-question-form .format-help {
	margin-left:  8.75em;
	width: 37.5em;
}
.ask-question-form .ask-question-submit {
	margin-left: 7em;
}

.question-details .question-link {
	color: black;
	text-decoration: none;
}
.question-details .question-link:hover {
	color: blue;
	text-decoration: underline;
}
.question-details .question-title {
	font-size: 160%;
}
.question-details .question-body-wrapper {
	margin-top: 1em;
}
.question-details .vote-counter {
	background-color: white;
	border: 3px solid #E3F4FD;
}
.question-details .vote-counter .count {
	font-size: 130%;
	color: orange;
	font-weight: bold;
}
.question-details .question-body {
	padding: 1em;	
	margin-bottom: 1em;
	background-color: #e3f4fd;
	font-size: 110%;
	color: #333;
}
.question-details .answers-list {
	margin-top: 2em;
	margin-bottom: 2em
}
.question-preview {
	padding: 0.25em;
}
.question-preview * {
	display: inline;
}
.answer-form {
	border-top: 1px dotted #ccc;
	padding-top: 1.25em;
}
.answer-form .answer-form-head {
	font-size: 120%;
}
.answer-form textarea {
	width: 40em;
	height: 8em;
	margin-top: 1.25em;
	margin-bottom: 1.25em
}
.answer-list-item .vote-counter {
	background-color: white;
	border: 3px solid #E3F8E1;
}
.answer-list-item .vote-counter .count {
	font-size: 110%;
	color: #42AE30;
	font-weight: bold;
}
.answers-list .answers-list-header {
	font-size: 140%;
	border-bottom: 1px solid black;
}
.answer-list-item {
	padding: 1em;
	padding-bottom: 2em;
	padding-left: 0;
	border-bottom: 1px dotted #CCC;
}
.answer-body {
	padding: 0.2em;
	margin-bottom: 0.3em;
	background-color: #e3f8e1;
}
input, textarea {
	padding: 0.25em;
	border-style: solid solid solid solid;
	border-width:  1px 1px 1px 1px;
	border-color:  #555 #CCC #CCC #555;
}
.tags {
	color:gray;
	padding: 3px;
}
.tags .tag {
	font-size: 85%;
	font-family: monospace;
}

.markdown * {
	line-height:1.4em;
}
.markdown p {
	margin: 0.25em 0.1em 0.6em;
}
.markdown h2 {
	font-size: 130%;
	font-weight: bold;
	margin: 0.40em 0.1em;
}
.markdown ul {
	padding-left: 2em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.markdown li {
	list-style: square;
}
.markdown strong {
	font-weight: bold;
}
.markdown em {
	font-style: italic;
}