{{%JSTACHE-ENABLE-STRING-ARRAYS}}

<div class="question-headline">	  				
	
	<div class="counter">	  					
		<div class="count">{{answers}}</div>
	  	<span>answers</span>	  					
	 </div>	  			
	<div class="counter">
		<div class="count">{{votes}}</div>
		<span>votes</span>
	</div>  				
	<div class="title">
		<a href="{{app_root}}{{path_question}}?startkey=[&quot;{{url_id}}&quot;]&endkey=[&quot;{{url_id}}&quot,&quot;Z&quot;]">
		<h3>{{title}}</h3></a>
		<div class="question-preview">{{{question_preview}}}</div>	
		tags: <span class="tags">{{tags}} {{#tags}} {{.}} {{/tags}}</span>			
	</div>	  				
	
	<div class="question-asked">
		<span class="elapsed">asked <span class="raw-date">on {{created}}</span></span>
	</div>
	
</div>
