<html>
<head>
	<title>{{title}}</title>
</head>
<body>
	
	<div class="question-details">
		<h1 class="question-title">{{title}}</h1>
		<p class="question-body">{{question}}</p>
	</div>
	
	<div class="answers-list"></div>
	
	<div class="answer-form">
		<textarea class="answer-area"></textarea>
		<button class="answer-submit">answer</button>
		<input type="hidden" class="question_id" value="{{_id}}">
	</div>
	
</div>
</body>
<script src="/_utils/script/jquery.js?1.3.1"></script>
<script>
	var question_id = $('.question_id').val();
	$('.answers-list').load('../../_list/answers/answers?key="'+question_id+'"');
	$('.answer-submit').click(function() {
		$.ajax({
			url: '../../_update/answer/' + question_id,
			type: 'PUT',
			data: JSON.stringify({
				answer: $('.answer-area').val(),
				question_id: $('.question_id').val()
			}),
			success: function() {
				$('.answers-list').load('../../_list/answers/answers?key="'+question_id+'"');
			}
		});
	});
</script>
</html>