		</div><!--/app-body-->
		<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-5268498-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>
	</body>
<script src="../../lib/pretty-date.js"></script>
<script type="text/javascript" src="../../lib/SimplyButtons.js"></script>
<script>
	SimplyButtons.init(); 

	$('span.raw-date').each(function(i, el) {
		var str_date = el.innerHTML.replace(/^\s*on\s*/,'');
		var date = new Date(str_date);
		$(el).after('<a title="'+ str_date+'" class="relative-date">'+prettyDate(date)+'</a>').remove();
	});
</script>
</html>
