<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - fortytwo</title>
    <link rel="stylesheet" type="text/css" href="../../style/reset-min.css"/>
    <link rel="stylesheet" type="text/css" href="../../style/fonts-min.css"/>      
    <link rel="stylesheet" type="text/css" href="../../style/main.css"/>
	<link rel="stylesheet" type="text/css" href="../../style/SimplyButtons.css" />
	<script src="/_utils/script/json2.js"></script>
	<script src="/_utils/script/jquery.js?1.3.1"></script>
	<script src="../../lib/fortytwo.js"></script>
  </head>
  <body>
  	<div class="app-main">
	  	<div class="app-tools">
	  			<a class="link" href="../../_list/questions/questions?descending=true">Browse</a>,<br/>
	  			<a class="link" href="../../_show/ask/">Ask a question</a> or Search: <form style="display:inline" action="/fortytwo/_design/fortytwo/_show/search/foo"><input type="text" size="55" name="q" class="app-tools-search"/></form>
	  			<div class="forty-two-logo"><div>42</div></div>
	  	</div>
	  	
	  	<div class="app-body">