<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - fortytwo</title>
	<link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../../style/reset-min.css"/>
    <link rel="stylesheet" type="text/css" href="../../style/fonts-min.css"/>      
    <link rel="stylesheet" type="text/css" href="../../style/main.css"/>
	<link rel="stylesheet" type="text/css" href="../../style/SimplyButtons.css" />
	<script src="../../lib/json2.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<script src="../../lib/fortytwo.js"></script>
  </head>
  <body>
  	<div class="app-main">
		<div class="docs-menu">
			<a class="link" href="../../docs/index.html">docs</a> -
			<a class="link" href="http://github.com/mcaprari/fortytwo">source</a> -
			<a class="link" href="http://caprazzi.net">caprazzi.net</a>
		</div>		
	  	<div class="app-tools">
	  			<a class="link" href="../../_list/questions/questions?descending=true">Browse</a>,<br/>
	  			<a class="link" href="../../_show/ask/">Ask a question</a> or Search: <form style="display:inline" action="/fortytwo/_design/fortytwo/_show/results/search"><input type="text" size="55" name="q" class="app-tools-search"/></form>
	  			<div class="forty-two-logo"><div>42</div></div>
	  	</div>
	  	
	  	<div class="app-body">