<!DOCTYPE html>
<html>
  <head>
    <title>fourty two - {{title}}</title>
    <link rel="stylesheet" type="text/css" href="../../style/reset-min.css"/>
    <link rel="stylesheet" type="text/css" href="../../style/fonts-min.css"/>      
    <link rel="stylesheet" type="text/css" href="../../style/main.css"/>
  </head>
  <body>
  	<div class="app-main">
	  	<div class="app-tools">
	  			<a class="link" href="../../_list/questions/questions">Browse</a>,<br/>
	  			<a class="link" href="../../_show/ask/">Ask a question</a> or Search: <input type="text" size="55" name="search" class="app-tools-search"/>
	  			<div class="forty-two-logo"><div>42</div></div>
	  	</div>
	  	
	  	<div class="app-body">