	
<div class="question-details">
	<h1 class="question-title"><a class="question-link" href="../../_show/question/{{_id}}">{{title}}</a></h1>
	tags: <span class="tags">{{tags}}</span>
		
	<div class="question-body">{{question}}</div>

	<div class="question-asked">
		<span class="elapsed">asked <span class="raw-date">{{created}}</span></span>
	</div>
	
	<div class="answers-list-container"></div>
	
	<div class="answer-form">
		<h1 class="answer-form-head">Have an answer?</h1>
		<textarea class="answer-area"></textarea><br/>
		<button class="answer-submit"><span><span>submit your answer</span></span></button>
		<input type="hidden" class="question_id" value="{{_id}}">
	</div>	
</div>

<script>
	var question_id = $('.question_id').val();
	$('.answers-list-container').load('../../_list/answers/answers?key="'+question_id+'"');
	$('.answer-submit').click(function() {
		$.ajax({
			url: '../../_update/answer/' + question_id,
			type: 'PUT',
			data: JSON.stringify({
				answer: $('.answer-area').val(),
				question_id: $('.question_id').val()
			}),
			success: function() {
				$('.answers-list-container').load('../../_list/answers/answers?key="'+question_id+'"');
			}
		});
	});
</script>