<div class="question-details">
	<div class="counter">
		<div class="vote-up">vote up</div>
		<div class="count">{{votes}}</div>
		<span>votes</span>
		<div class="vote-down">vote down</div>
	</div>  
	
	<h1 class="question-title"><a class="question-link" href="../../_list/question_and_answers/questions?startkey=[&quot;{{url_id}}&quot;]&endkey=[&quot;{{url_id}}&quot,&quot;Z&quot;]">{{title}}</a></h1>
	tags: <span class="tags">{{tags}}</span>
		
	<div class="question-body markdown">{{{question_html}}}</div>
	
	<div class="question-asked">
		<span class="elapsed">asked <span class="raw-date">{{created}}</span></span>
	</div>
</div>