<input type="hidden" value="{{_id}}" id="question_id"/>
<div class="question-details">
	
	
	<div class="counter vote-counter">
			<div class="vote-up">vote up</div>
			<div class="count" id="question-vote-count">{{votes}}</div>
			<div class="vote-down">vote down</div>
		</div>  	
		
	<h1 class="question-title">
		
		<a class="question-link" href="{{app_root}}{{path_question}}?startkey=[&quot;{{_id}}&quot;]&endkey=[&quot;{{_id}}&quot,&quot;Z&quot;]">{{title}}</a></h1>
	tags: <span class="tags">{{tags}}</span>
	
	<span style="clear:both">&nbsp;</span>
	
	<div class="question-body-wrapper">		
		<div class="question-body markdown">{{{question_html}}}</div>
	</div>
	
	<div class="question-asked">
		<span class="elapsed">asked <span class="raw-date">{{created}}</span></span>
	</div>
	
	<script>
		(function() {
			$vote_el = $('#question-vote-count');
			function update_vote_display(votes) {
				$vote_el.html(votes);
			}
			$('.vote-up').click(function() {
				FortyTwo.post_vote($('#question_id').val(), 'up', update_vote_display);
			});
			$('.vote-down').click(function() {
				FortyTwo.post_vote($('#question_id').val(), 'down', update_vote_display);
			});
		})();
	</script>
</div>